<a href="https://colab.research.google.com/github/xmfrn/bmt_python/blob/main/21506_10%EC%A3%BC%EC%B0%A8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8,])

a=1
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
dates = pd.date_range('20210507',periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4)) 
df

          0         1         2         3
0  1.068051 -1.819416  0.380920 -2.071714
1  0.310982  0.284305  0.287907  0.152214
2 -0.332282  0.562906 -0.965571  1.003100
3  0.850415 -0.460521 -0.849799 -1.185283
4 -0.076553  1.321259  1.882191 -2.886496
5  2.361135 -0.870937  1.536313 -1.702491

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=dates)
df

                   0         1         2         3
2021-05-07  1.093192  0.956810  0.557103  0.098864
2021-05-08  0.126601 -0.713011  0.364808  0.176592
2021-05-09  0.411035 -0.172991  0.724943 -0.406913
2021-05-10 -1.817290  1.074378  0.538844 -0.063020
2021-05-11 -0.270612 -0.103907  0.706148  2.188608
2021-05-12  2.101867 -0.698879 -0.017959  0.452691

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=['국','영','수','물'])
df

                   국         영         수         물
2021-05-07  1.676275 -0.810645  1.596401 -0.285115
2021-05-08 -0.023182  0.429651  1.873813 -1.366525
2021-05-09  0.555594 -0.102213 -0.597352  0.952507
2021-05-10  2.209995  1.240659  0.728422  0.698406
2021-05-11 -0.690762 -1.251232 -0.804784  0.207370
2021-05-12 -0.693665 -0.143944 -0.621357  0.355666

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210507'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [ ]:
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.head()

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901

In [ ]:
df.tail()

                   A         B         C         D
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.head(1)

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931

In [ ]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.values

array([[-0.92347055, -1.12872206,  0.34432913,  2.47393125],
       [ 1.04293088, -0.51651778, -1.16860711,  2.26807161],
       [-0.04182668,  1.96340723,  0.81577104,  0.52294134],
       [ 0.56330956,  0.46993687,  1.03610725,  0.48863004],
       [-0.15841734, -0.72410781,  2.27744187,  0.68490085],
       [ 0.39752274,  0.35880508,  1.44653295,  0.35434394]])

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.146675  0.070467  0.791929  1.132137
std    0.680237  1.117130  1.160990  0.967570
min   -0.923471 -1.128722 -1.168607  0.354344
25%   -0.129270 -0.672210  0.462190  0.497208
50%    0.177848 -0.078856  0.925939  0.603921
75%    0.521863  0.442154  1.343927  1.872279
max    1.042931  1.963407  2.277442  2.473931

In [ ]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A   -0.923471    1.042931   -0.041827    0.563310   -0.158417    0.397523
B   -1.128722   -0.516518    1.963407    0.469937   -0.724108    0.358805
C    0.344329   -1.168607    0.815771    1.036107    2.277442    1.446533
D    2.473931    2.268072    0.522941    0.488630    0.684901    0.354344

In [ ]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2021-05-12  0.397523  0.358805  1.446533  0.354344
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-07 -0.923471 -1.128722  0.344329  2.473931

In [ ]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-12  0.397523  0.358805  1.446533  0.354344
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-09 -0.041827  1.963407  0.815771  0.522941

In [ ]:
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df['A']

2021-05-07   -0.923471
2021-05-08    1.042931
2021-05-09   -0.041827
2021-05-10    0.563310
2021-05-11   -0.158417
2021-05-12    0.397523
Freq: D, Name: A, dtype: float64

In [ ]:
df['B']

2021-05-07   -1.128722
2021-05-08   -0.516518
2021-05-09    1.963407
2021-05-10    0.469937
2021-05-11   -0.724108
2021-05-12    0.358805
Freq: D, Name: B, dtype: float64

In [ ]:
df[['A','D']]

                   A         D
2021-05-07 -0.923471  2.473931
2021-05-08  1.042931  2.268072
2021-05-09 -0.041827  0.522941
2021-05-10  0.563310  0.488630
2021-05-11 -0.158417  0.684901
2021-05-12  0.397523  0.354344

In [ ]:
print(df[0:3])

print(df[['A','B','C']])

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
                   A         B         C
2021-05-07 -0.923471 -1.128722  0.344329
2021-05-08  1.042931 -0.516518 -1.168607
2021-05-09 -0.041827  1.963407  0.815771
2021-05-10  0.563310  0.469937  1.036107
2021-05-11 -0.158417 -0.724108  2.277442
2021-05-12  0.397523  0.358805  1.446533

In [ ]:
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.loc['20210507':'20210508',['A']]

                   A
2021-05-07 -0.923471
2021-05-08  1.042931

In [ ]:
df.iloc[1:3,0:2]

                   A         B
2021-05-08  1.042931 -0.516518
2021-05-09 -0.041827  1.963407

In [ ]:
df.iloc[0:3,1;3]

SyntaxError: ignored

In [ ]:
df.iloc[[0,3],[1,3]]

                   B         D
2021-05-07 -1.128722  2.473931
2021-05-10  0.469937  0.488630

In [ ]:
df.iloc[0,1]

-1.1287220632758552

In [ ]:
df

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df.iloc[[1,3],[1,3] ]

                   B         D
2021-05-08 -0.516518  2.268072
2021-05-10  0.469937  0.488630

In [ ]:
df.A>0

2021-05-07    False
2021-05-08     True
2021-05-09    False
2021-05-10     True
2021-05-11    False
2021-05-12     True
Freq: D, Name: A, dtype: bool

In [ ]:
df[df.A>0]

                   A         B         C         D
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df[df>0]

                   A         B         C         D
2021-05-07       NaN       NaN  0.344329  2.473931
2021-05-08  1.042931       NaN       NaN  2.268072
2021-05-09       NaN  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11       NaN       NaN  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df2 = df.copy()

In [ ]:
df2

                   A         B         C         D
2021-05-07 -0.923471 -1.128722  0.344329  2.473931
2021-05-08  1.042931 -0.516518 -1.168607  2.268072
2021-05-09 -0.041827  1.963407  0.815771  0.522941
2021-05-10  0.563310  0.469937  1.036107  0.488630
2021-05-11 -0.158417 -0.724108  2.277442  0.684901
2021-05-12  0.397523  0.358805  1.446533  0.354344

In [ ]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [ ]:
df2

                   A         B         C         D      E
2021-05-07 -0.923471 -1.128722  0.344329  2.473931    one
2021-05-08  1.042931 -0.516518 -1.168607  2.268072    one
2021-05-09 -0.041827  1.963407  0.815771  0.522941    two
2021-05-10  0.563310  0.469937  1.036107  0.488630  three
2021-05-11 -0.158417 -0.724108  2.277442  0.684901   four
2021-05-12  0.397523  0.358805  1.446533  0.354344  three

In [ ]:
df2[df2['E'].isin(['two,four'])]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [ ]:
df2[df2['E'].isin(['three'])]

                   A         B         C         D      E
2021-05-10  0.563310  0.469937  1.036107  0.488630  three
2021-05-12  0.397523  0.358805  1.446533  0.354344  three

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [ ]:
df['F']=s1

In [ ]:
df

                   A         B         C         D  F
2021-05-07 -0.923471 -1.128722  0.344329  2.473931  1
2021-05-08  1.042931 -0.516518 -1.168607  2.268072  2
2021-05-09 -0.041827  1.963407  0.815771  0.522941  3
2021-05-10  0.563310  0.469937  1.036107  0.488630  4
2021-05-11 -0.158417 -0.724108  2.277442  0.684901  5
2021-05-12  0.397523  0.358805  1.446533  0.354344  6

In [ ]:
df[df>0]

                   A         B         C         D  F
2021-05-07       NaN       NaN  0.344329  2.473931  1
2021-05-08  1.042931       NaN       NaN  2.268072  2
2021-05-09       NaN  1.963407  0.815771  0.522941  3
2021-05-10  0.563310  0.469937  1.036107  0.488630  4
2021-05-11       NaN       NaN  2.277442  0.684901  5
2021-05-12  0.397523  0.358805  1.446533  0.354344  6

In [ ]:
df[df>0]=-df

In [ ]:
df

                   A         B         C         D  F
2021-05-07 -0.923471 -1.128722 -0.344329 -2.473931 -1
2021-05-08 -1.042931 -0.516518 -1.168607 -2.268072 -2
2021-05-09 -0.041827 -1.963407 -0.815771 -0.522941 -3
2021-05-10 -0.563310 -0.469937 -1.036107 -0.488630 -4
2021-05-11 -0.158417 -0.724108 -2.277442 -0.684901 -5
2021-05-12 -0.397523 -0.358805 -1.446533 -0.354344 -6