<a href="https://colab.research.google.com/github/xmfrn/bmt_python/blob/main/21506_11%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2021-05-14  1.076012  1.894544  1.126573 -1.096685
2021-05-15 -0.297704 -1.084946  0.210729 -0.818225
2021-05-16 -0.125221 -0.014551 -0.029228 -0.879079
2021-05-17 -0.097958 -0.438482  0.311812  0.752810
2021-05-18 -1.382704 -0.381407 -0.445426 -1.572390
2021-05-19 -0.944916 -0.636668  0.438969 -0.398780

In [8]:
df.mean(0)

A   -0.295415
B   -0.110252
C    0.268905
D   -0.668725
dtype: float64

In [9]:
df.mean(1)

2021-05-14    0.750111
2021-05-15   -0.497536
2021-05-16   -0.262020
2021-05-17    0.132045
2021-05-18   -0.945482
2021-05-19   -0.385349
Freq: D, dtype: float64

In [11]:
df

                   A         B         C         D
2021-05-14  1.076012  1.894544  1.126573 -1.096685
2021-05-15 -0.297704 -1.084946  0.210729 -0.818225
2021-05-16 -0.125221 -0.014551 -0.029228 -0.879079
2021-05-17 -0.097958 -0.438482  0.311812  0.752810
2021-05-18 -1.382704 -0.381407 -0.445426 -1.572390
2021-05-19 -0.944916 -0.636668  0.438969 -0.398780

In [12]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14  1.076012  1.894544  1.126573 -1.096685
2021-05-15  0.778309  0.809598  1.337302 -1.914910
2021-05-16  0.653087  0.795047  1.308074 -2.793989
2021-05-17  0.555129  0.356565  1.619886 -2.041179
2021-05-18 -0.827575 -0.024842  1.174461 -3.613570
2021-05-19 -1.772490 -0.661510  1.613430 -4.012350

In [14]:
df.apply(np.cumsum,axis=1)

                   A         B         C         D
2021-05-14  1.076012  2.970557  4.097129  3.000444
2021-05-15 -0.297704 -1.382650 -1.171920 -1.990145
2021-05-16 -0.125221 -0.139773 -0.169000 -1.048079
2021-05-17 -0.097958 -0.536440 -0.224628  0.528182
2021-05-18 -1.382704 -1.764111 -2.209536 -3.781927
2021-05-19 -0.944916 -1.581584 -1.142615 -1.541395

In [15]:
df

                   A         B         C         D
2021-05-14  1.076012  1.894544  1.126573 -1.096685
2021-05-15 -0.297704 -1.084946  0.210729 -0.818225
2021-05-16 -0.125221 -0.014551 -0.029228 -0.879079
2021-05-17 -0.097958 -0.438482  0.311812  0.752810
2021-05-18 -1.382704 -0.381407 -0.445426 -1.572390
2021-05-19 -0.944916 -0.636668  0.438969 -0.398780

In [17]:
df.apply(lambda x:x.max()-x.min())

A    2.458717
B    2.979490
C    1.571998
D    2.325200
dtype: float64

In [31]:
s = pd.Series(np.random.randint(1, 7, size = 600000))
s

0         5
1         1
2         5
3         3
4         2
         ..
599995    5
599996    4
599997    1
599998    6
599999    2
Length: 600000, dtype: int64

In [32]:
print(s.value_counts())

4    100351
3    100152
5     99932
2     99887
1     99880
6     99798
dtype: int64

In [37]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.877479 -0.220667  0.255268 -0.878500
1  0.624406  0.293041 -0.649870  0.711650
2 -0.989663  0.236217  0.582543  2.055141
3 -0.389074  0.412952 -0.027909  0.095470
4  1.220602 -0.120762 -0.518225 -1.854641
5  0.309349 -0.547258  0.275698 -1.428558
6 -0.980278  0.127807  0.472437 -0.078289
7 -0.697157  1.227232 -2.234462 -2.125219
8 -0.499588  0.325278 -0.115824 -0.188390
9  0.571902 -1.489632 -1.294566  0.633125

In [38]:
df[:3]

          0         1         2         3
0 -0.877479 -0.220667  0.255268 -0.878500
1  0.624406  0.293041 -0.649870  0.711650
2 -0.989663  0.236217  0.582543  2.055141

In [39]:
df[3:7]

          0         1         2         3
3 -0.389074  0.412952 -0.027909  0.095470
4  1.220602 -0.120762 -0.518225 -1.854641
5  0.309349 -0.547258  0.275698 -1.428558
6 -0.980278  0.127807  0.472437 -0.078289

In [40]:
df[7:]

          0         1         2         3
7 -0.697157  1.227232 -2.234462 -2.125219
8 -0.499588  0.325278 -0.115824 -0.188390
9  0.571902 -1.489632 -1.294566  0.633125

In [41]:
pieces = [df[:3], df[3:7], df[7:]]

In [42]:
pieces

[          0         1         2         3
 0 -0.877479 -0.220667  0.255268 -0.878500
 1  0.624406  0.293041 -0.649870  0.711650
 2 -0.989663  0.236217  0.582543  2.055141,
           0         1         2         3
 3 -0.389074  0.412952 -0.027909  0.095470
 4  1.220602 -0.120762 -0.518225 -1.854641
 5  0.309349 -0.547258  0.275698 -1.428558
 6 -0.980278  0.127807  0.472437 -0.078289,
           0         1         2         3
 7 -0.697157  1.227232 -2.234462 -2.125219
 8 -0.499588  0.325278 -0.115824 -0.188390
 9  0.571902 -1.489632 -1.294566  0.633125]

In [43]:
pieces[0]

          0         1         2         3
0 -0.877479 -0.220667  0.255268 -0.878500
1  0.624406  0.293041 -0.649870  0.711650
2 -0.989663  0.236217  0.582543  2.055141

In [46]:
pd.concat(pieces)

          0         1         2         3
0 -0.877479 -0.220667  0.255268 -0.878500
1  0.624406  0.293041 -0.649870  0.711650
2 -0.989663  0.236217  0.582543  2.055141
3 -0.389074  0.412952 -0.027909  0.095470
4  1.220602 -0.120762 -0.518225 -1.854641
5  0.309349 -0.547258  0.275698 -1.428558
6 -0.980278  0.127807  0.472437 -0.078289
7 -0.697157  1.227232 -2.234462 -2.125219
8 -0.499588  0.325278 -0.115824 -0.188390
9  0.571902 -1.489632 -1.294566  0.633125

In [48]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'], 
        'lval': [1, 2]
     }
    )

right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [51]:
left

   key  lval
0  foo     1
1  foo     2

In [52]:
right

   key  rval
0  foo     4
1  foo     5

In [53]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [54]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [55]:
df

          A         B         C         D
0  1.829506 -2.353043 -0.802626 -0.230529
1  0.626381 -1.672578  0.427060  1.113743
2  1.358404 -1.536888 -0.843258 -0.289436
3  1.672577  0.265938 -0.393797  0.325804
4  0.391413 -0.517078  0.851649 -0.692163
5  0.011777 -1.914320 -0.326266  0.121055
6 -1.568267  1.533008  2.872717 -0.040717
7 -0.573262 -1.952312 -0.117867 -0.745035

In [56]:
s = df.iloc[3]

In [57]:
s

A    1.672577
B    0.265938
C   -0.393797
D    0.325804
Name: 3, dtype: float64

In [59]:
df.append(s, ignore_index=True)

          A         B         C         D
0  1.829506 -2.353043 -0.802626 -0.230529
1  0.626381 -1.672578  0.427060  1.113743
2  1.358404 -1.536888 -0.843258 -0.289436
3  1.672577  0.265938 -0.393797  0.325804
4  0.391413 -0.517078  0.851649 -0.692163
5  0.011777 -1.914320 -0.326266  0.121055
6 -1.568267  1.533008  2.872717 -0.040717
7 -0.573262 -1.952312 -0.117867 -0.745035
8  1.672577  0.265938 -0.393797  0.325804